.flexDays{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.singleDay{
    border: 1px solid black;
    width: auto;
    height: auto;
}

.prev{
    border: 1px solid black;
}